<div class="">
    <mat-card class="container">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

            <!-- Aplicamos la dirtectiva appColor a este elemento -->
            <mat-card-title>Título de Formulario</mat-card-title>
            Colorrr: {{pepe}}
            <mat-card-subtitle>Angular Material</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content [ngStyle]="{'background': color ? 'red' : 'transparent'}">

            <p [appColor]="colorTexto" defaultColor="violet">
                Highlight me too!
            </p>
            <mat-grid-list cols="3" rowHeight="100px">

                <mat-form-field>
                    <mat-label>bebida Preferida</mat-label>
                    <mat-select (selectionChange)="selectBebida($event)">
                        <mat-option *ngFor="let bebida of bebidas" [value]="bebida.value">
                            {{bebida.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Ingrese Comida</mat-label>
                    <input matInput placeholder="Asado">
                </mat-form-field>


                <mat-slide-toggle (change)="cambiarColor($event)">Elegir color</mat-slide-toggle>
            </mat-grid-list>

        </mat-card-content>
        <mat-card-actions>
            <div>
                <button [ngStyle]="{'color': 'white','background-color': 'blue', margin: '5px', padding: '5px'}"
                    mat-flat-button>Guardar</button>
                <button class="botones" mat-flat-button color="warn">Cancelar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>