<h1>Componente por defecto</h1>

<!-- <app-reactive-persona></app-reactive-persona>    
<app-animal-template></app-animal-template> -->

<!-- Usamos el selector app-alumno para poder inyectar el componente recién creado a otro componente, en este caso app.component -->
<!-- En el navegador se puede ver el componente Alumno creado -->


<!-- // Esto está prohibidísimo -->
<script ></script>

<!-- <div >
    <app-animal-template></app-animal-template>
</div> -->

<!-- <app-alumno></app-alumno> -->

<!-- <app-jugador></app-jugador> -->

<app-equipo></app-equipo>

<router-outlet></router-outlet>